@import "tailwindcss";

@theme {
  --color-sec-dark: #0B0F19;
  --color-sec-darker: #06080D;
  --color-sec-green: #10B981;
  --color-sec-red: #EF4444;
  --background-image-grid-pattern: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h40v40H0V0zm1 1h38v38H1V1z' fill='%231F2937' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@layer base {
  body {
    @apply bg-sec-dark text-white antialiased selection:bg-sec-green selection:text-sec-darker;
  }
}
